.aboutme 
{
    background-color: var( --background-secondary );
    padding:3.5rem;

}

@media screen and ( min-width:1000px ) 
{ 

    .aboutme 
    {
        align-self: stretch;
        justify-content: center;
        margin:0;
        padding:7rem;
    }

}    

@media screen and ( max-width:400px ) 
{ 

    .aboutme 
    {
        padding:2rem;

    }

    .aboutme>p
    {
        font-size: 0.8rem;

    }

}    