.aboutme 
{
    background-color: var( --background-secondary );
    padding:5rem;

}

@media screen and ( min-width:1000px ) 
{ 

    .aboutme 
    {
        align-self: stretch;
        justify-content: center;
        margin:0;
        padding:7rem;
    }

}    