.abstract1 {

    position: absolute;
    height: 67%;
    width: 50%;
    top: 18%;
    right: 25%;
    opacity: 1;
    z-index: 2;
}

.abstract2 {
    position: absolute;
    height: 67%;
    width: 50%;
    top: 18%;
    right: 25%;
    opacity: 0;
}