
.abstract1,
.abstract2 {

    position: absolute;
    top: 10%;
    right: 0;
}

.abstract2 {
    opacity: 0;
    animation: fade 20s linear infinite;
}


    .image1 {
        position: relative;
        height: 100%;
        /* width: fit-content; */
        top: 0;
        left: 0px;
        opacity: 1;
    }

    .image2 {
        opacity: 0;
        display: none;
    }

@media screen and ( min-width:1000px ) 
{ 
    .abstract1,
    .abstract2 {

        position: absolute;
        height: 75%;
        width: 50%;
        top: 13%;
        /* right: 25%; */
    }

    .framework, .framework-index {
        position: relative;
        top: 0;
        left: 0;
        
    }

    .image1 
    {
        position: absolute;
        height: 100%;
        /* top: 30px; */
        left: 0px;
        top: 0px;
        width: 90%;
        animation: fade 20s linear infinite;

    }

    .image2 
    {
        display: inline;
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0px;
        opacity: 0;
        width:90%;
        animation: fade 20s linear infinite;
    }
}

@media screen and (max-width:1300px) 
    { 
    .abstract1,
    .abstract2 {
    
        width: 100%;
    }
}

@media screen and (max-width:400px) 
    { 
    .image1,
    .image2 {
        
        margin: 5%;
        height: 90%;
        width: 90%;
    }
}

@keyframes fade {
    25%, 45% {opacity: 1;};
    55%, 100% {opacity: 0};
}

