article 
{
    background-color: var( --background-secondary );
    padding:3.5rem;
}

@media screen and ( min-width:1000px ) 
{ 
    article 
    {
        width: 60%;
        margin: 0 15%;
        padding: 3.5rem 5.5rem;

    }
}

@media screen and ( max-width:400px ) 
{ 

    article 
    {
        padding:2rem;

    }

    article>p
    {
        font-size: 0.8rem;

    }

}    