aside {
   text-align: left;
   margin:2rem;
   font-size: 1.3rem;
}

aside {
   text-align: left;
}

.main-gallery aside {
   display: none;
}

@media screen and (min-width: 800px) 
{
   .main-gallery aside {
      display: grid;
   }
}