.contact {
    display: grid;
    justify-content: center;
    align-content: flex-end;
    
}

@media screen and (max-width: 899px) 
{

    .contact-img 
    {
        padding-top: 3rem;
    }
}

@media screen and ( min-width:850px ) 
{ 
    .contact-section {
        display:flex;
        justify-content: center;
        margin:1% 10%;
        text-align: center;
        width:80%;

    }

    .contact-img 
    {
        padding-top: 0;
    }
}


@media screen and ( min-width:1000px ) 
{ 
    .contact-img 
    {
        padding-left: 2rem;
    }
}
