.dropdown 
{
  position: relative;
  display: inline-block;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
}

.dropdown .dropbtn 
{
    font-size: 1rem;  
    border: none;
    outline: none;
    color: var(--font-color-secondary);
    padding: 1rem 1rem;
    margin: 0;
  }

  .dropdown-content 
  {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
  }
  
  .dropdown-content a, a 
  {
    font-size: 1rem;  
    color: var(--font-color-secondary);
    float: none;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
    position: relative;
  }
  
  .dropdown-content a:hover, a:hover, .dropbtn:hover 
  {
    color: var(--font-color-primary);
  }

  
  .dropdown:hover .dropdown-content 
  
  {
    display: block;
  }
  
.dropdown-content a:hover 

{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

@media screen and ( min-width:600px ) and ( max-width: 850px)

{ 
  .dropdown .dropbtn, .dropdown-content a, .dropdown a, a 
    {
      font-size: 1.4rem;
      padding: 1.3rem;
    }
}

@media screen and ( min-width: 851px ) and ( max-width: 1250px)

{ 
  .dropdown .dropbtn, .dropdown-content a, .dropdown a, a 
    {
      font-size: 1.7rem;
      padding: 2rem 1.6rem;
    }

    .dropdown-content 
    {
      min-width: 350px;
    }
}

@media screen and ( min-width: 1251px ) 
{ 
  .dropdown .dropbtn, .dropdown-content a, .dropdown a, a
    {
      font-size: 1.8rem;
      padding: 2rem 3rem;
    }
    
    .dropdown-content 
    {
      min-width: 400px;
    }

}