.dropdown 
{
  position: relative;
  display: inline-block;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 11;
}

.dropdown .dropbtn 
{
    font-size: 1rem;  
    border: none;
    outline: none;
    color: var(--font-color-secondary);
    padding: 1rem 0.1rem;
    margin: 0;
}
  
  .dropdown-content a, a 
  {
    font-size: 1rem;  
    color: var(--font-color-secondary);
    display: block;
    float: none;
    padding: 1.5rem 0.8rem;
    position: relative;
    text-align: center;
    text-decoration: none;
  }
  
  .dropdown-content a:hover, a:hover, .dropbtn:hover 
  {
    color: var(--font-color-primary);
  }
  
  .dropdown:hover .dropdown-content 
  {
    display: block;
  }
  
.dropdown-content a:hover 

{
  background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

.dropdown-content a a 
{
  font-size: 1.2rem;
  padding: 0;
}

@media screen and ( min-width: 495px ) and ( max-width: 750px)

{ 
  .dropdown .dropbtn, .dropdown-content a, .dropdown a, a 
    {
      font-size: 1.2rem;
    }
}

@media screen and ( min-width: 600px ) and ( max-width: 750px)

{ 
  .dropdown .dropbtn, .dropdown-content a, .dropdown a, a 
    {
      padding: 1rem 2rem;
    }
}


@media screen and ( min-width: 751px ) and ( max-width: 1250px)

{ 
  .dropdown .dropbtn, .dropdown a, a, .dropdown-content a 
    {
      font-size: 1.3rem;
      padding: 1.2rem;
    }

    .dropdown-content 
    {
      min-width: 270px;
    }




}

@media screen and ( min-width: 1251px ) 
{ 
  .dropdown .dropbtn, .dropdown-content a, .dropdown a, a
    {
      font-size: 1.8rem;
      padding: 1.92rem 2rem;
    }
    
    .dropdown-content 
    {
      min-width: 300px;
    }

}

@media only screen and (max-width: 350px) 
{
  a
    {
      padding: 0.1rem;
    }   
}

