figure {
    
    border: 10px var(--font-color-primary) double;
    position: relative;

}

figure>img { 
    filter:blur(2px);
    -webkit-transition: 2s; /* For Safari 3.0 to 6.0 */
    transition: 2s;
}

figure:hover>img {
    bottom: 100px;
    /* transform: ; */
    filter:blur(0);
    transition: all .5s ease-in-out;
    animation: spin infinite 12s linear 2s;
    /* animation: spin duration timing-function delay iteration-count direction fill-mode; */


}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }