footer {
    background: linear-gradient(
        0deg, var(--font-color-primary) 0%, transparent 20% 80%, 
        var(--font-color-primary));    
    color: var(--font-color-secondary);
    font-size: 1rem;
    font-family: var(--font-secondary);
    padding: 2rem;
}

footer p {
    line-height: 2rem;
}

@media screen and (min-width: 800px) 
{
    footer {
      
        font-size: 1.2rem;
        font-weight: bold;
        padding: 2rem 0;
        margin-top: 4rem;
    }

    footer p {
        line-height: 3rem;
    }
    
}

@media screen and (max-width: 400px) 
{
    footer p {
        font-size: 0.75rem;
        line-height: 2rem;

    }
}