footer {
    background: linear-gradient(155deg, var(--font-color-link), var(--font-color-primary) 30% 70%, var(--font-color-link));
    color: var(--background-primary);
    font-size: 1rem;
    font-family: var(--font-secondary);

    padding: 1rem;

}

footer p {
    line-height: 3rem;
}