@media screen and ( min-width:700px ) 
{ 

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr repeat(6 3fr);
        grid-gap: 2rem;
        margin:7.5%;
        margin-top:2rem;
        text-align: center;
        width: 85%;
    }
}

@media screen and ( min-width:1000px ) 
{ 
    .gallery {
        grid-gap: 7rem;
    }
}