.grid-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and ( min-width:700px ) 
{ 
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr repeat(6 1fr);
        grid-gap: 1rem;
        margin:0 5%;
        text-align: center;
        width: 85%;
    }
}

@media screen and ( min-width:1000px ) 
{ 
    .gallery {
        grid-gap: 1rem 1.5rem;
    }
}