.grid-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

}

@media screen and ( min-width:700px ) 
{ 
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content;
        grid-gap: 2rem;
        margin:0 2.5%;
        text-align: center;
        width: 95%;
    }
}


@media screen and ( min-width:1200px ) 
{ 
    .gallery {
        margin:0 5%;
        width: 85%;
    }
}

@media screen and ( min-width:1000px ) 
{ 
    .gallery {
        grid-gap: 0.5rem 3rem;
    }
}