h1 {
    padding-bottom:0.6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
<<<<<<< HEAD
    padding-bottom:2rem;
=======
    padding-bottom:1rem;
>>>>>>> feature/contact-screen
}

h4 {
    padding:1rem;
<<<<<<< HEAD
=======
}

h6 {
    font-size: 2rem;
    padding-bottom:8%;
    padding-top:5%;

>>>>>>> feature/contact-screen
}