.homepage-image {
    display: inline;
    height: fit-content;
    margin-bottom:0;
    top: 5.5rem;
    width: 100%;


}


@media only screen and (min-width: 700px) 
{
    .homepage-image {
        display: inline;
        height: 65%;
        top: 10rem;

    }    
}

