.homepage-image {
    display: inline;
    margin-bottom: 0;
    top: 5.5rem;
    width: 100%;
    height: 60vh;
}

@media only screen and (min-width: 700px) 
{
    .homepage-image {
        padding-top: 3vh;
        display: inline;
        height: 65vh;
        top: 14vh;
        padding-top: 0;
    }    
}

