li{
    color: var(--main-color);
    font-size: 1rem;
    margin:2rem;
    position: relative;
    text-decoration: none;
  }

  li:hover {
    color: var(--main-color);
    transition: .1s ease;
    -webkit-transition: .1s ease;
  }
  
  /* what happens when hover disappears - new speed */
  li:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: var(--main-color);
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
  }
   
  /* this is what shows when hover */
  li:hover:after{
    width: 100%;
    left: 0;
    background: blue;
  }



@media screen and (min-width:600px) { 
    li{

        display:inline;
        font-size: 1.8rem;
        list-style-type: none;
        padding-left:4rem;
    }
}


