/* needs to start with nav-drop not displaying */
.drop {
    /* display: none; */
} 

/* starting new line; */
.navigation 
{
    display: block;
    float: right;
}

/* that's showing */
.drop a 
{
    display: block;
    float: right;
    z-index: 1;
    background-color: var(--background-secondary);
}

/* if hover on navigation: */
.navigation:hover .drop 
{
    display: inline;
} 
