.navbar {
    align-items: center;
    background: var( --background-secondary );
    color: var( --font-color-secondary );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin:0rem;
}

@media screen and ( min-width:600px )

{ 
    .navbar 
    {
        background: none;
        justify-content: flex-end;
    }

}

@media screen and ( min-width:951px ) 
{ 
    .navbar {
        margin:1.4rem;
    }

    .navbar>a, .dropdown>a 
    {
        padding: 2rem 3rem;
    };
}
