.navbar {
    background: var( --background-secondary );
    color: var( --font-color-secondary );
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:0rem;
    padding: 1rem;
}


@media screen and ( min-width:600px ) 
{ 
    .navbar {
        background: none;
        margin:1.4rem;
    }
}
