.process
{
    border: 10px var(--font-color-primary) double;
    position: relative;
    top: 0;
    left: 0;
}

.process img 
{
    width: 100%;
}

/* image needs to show and dissappear */
.imagelayer1
{
    position: relative;
    height: 100%; 
    top: 0;
    left: 0px;
    z-index: 0;
}


.imagelayer2, .imagelayer3, .imagelayer4, .imagelayer5, 
.imagelayer6, .imagelayer7, .imagelayer8, .imagelayer9
{
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: all .2s ease-in-out;
    animation-iteration-count: 1;
}

.imagelayer2
{
    animation: layer 5s linear 4s forwards;
    z-index: 2;
}

.imagelayer3
{
    animation: layer 4s linear 7s forwards;
    z-index: 3;
}

.imagelayer4
{
    animation: layer 3s linear 11s forwards;
    z-index: 4;
}

.imagelayer5
{
    animation: layer 2.5s linear 13s forwards;
    z-index: 5;
}

.imagelayer6
{
    animation: layer 1.5s linear 17s forwards;
    z-index: 6;
}

.imagelayer7
{
    animation: layer 0.6s linear 20s forwards;
    z-index: 7;
}

.imagelayer8
{
    animation: layer 0.6s linear 22s forwards;
    z-index: 8;
}

.imagelayer9
{
    animation: layer 0.6s linear 24s forwards;
    z-index: 9;
}

@media screen and (min-width: 900px) and ( max-width: 1199px) 
{
    .process 
        {
            margin: 0 3rem;
        }
}  


@keyframes layer {
    0% { 
        opacity: 0;
    };
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

