.process
{
    border: 10px var(--font-color-primary) double;
    position: relative;
    top: 0;
    left: 0;
    margin:5%;
    margin-left:10%;
    margin-right:10%;
    width: 80%;

}

.process img 
{
    width: 100%;
}

/* image needs to show and dissappear */
.imagelayer1
{
    position: relative;
    height: 100%; 
    top: 0;
    left: 0px;
    z-index: 0;
}


.imagelayer2,  
.imagelayer3, .imagelayer4, .imagelayer6 
{
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: all .2s ease-in-out;
}

.imagelayer2
{
    animation: layer 6s linear 3s forwards;
    animation-iteration-count: 1;
    z-index: 2;

}


.imagelayer3
{
    animation: layer 6s linear 7s forwards;
    animation-iteration-count: 1;
    z-index: 3;

}

.imagelayer4
{
    animation: layer 6s linear 13s forwards;
    animation-iteration-count: 1;
    z-index: 4;
}

.imagelayer6
{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: layer 6s linear 19s forwards;
    animation-iteration-count: 1;
    z-index: 5;
    /* this is how you keep the animation in final state */

}

@keyframes layer {
    0% { 
        opacity: 0;
    };
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

