.process
{
    border: 10px var(--font-color-primary) double;
    position: relative;
    top: 0;
    left: 0;
    margin:5%;
    margin-left:10%;
    margin-right:10%;
    width: 80%;

}

.process img 
{
    width: 100%;
}

.imagelayer1, .imagelayer2 {
    position: relative;
    height: 100%;
    top: 0;
    left: 0px;
    opacity: 1;
}

.imagelayer2 {
    /* opacity: 0;
    display: none; */

}