.shop-item span, .shop-item button{
    font-size: 1rem;
}

.shop-item img {
    width: 90%;
    padding: 5%;
}

.shop-item-details {
    margin: 0;
}

.shop-item-title {
    font-weight: bold;
    padding-bottom: 2rem;
}

.shop-item button {
    margin: 1rem;
    padding: 1rem;
}

.grid-details button::before { 
    content: "\A"; 
    white-space: pre; 
}

.grid-details span::before { 
    content: "\A"; 
    white-space: pre; 
}


@media screen and ( min-width:700px ) and ( max-width: 999px )
{
    .shop-item span, .shop-item button{
        font-size: 1.2rem;
    }
}    

@media screen and ( min-width:1000px ) {
    .shop-item span, .shop-item button{
        font-size: 1.5rem;
    }
}