.title {
    position:absolute;                  
    bottom:15%;                          
    left:10%; 
}

.title>h1 {
    padding: 0; 
}
@media only screen and (min-width: 700px) 
{
    .title 
    {
        bottom:7%;                          
        left: 40%;
    }    
}
