.title h1 {
    bottom: 7.5%;
    left: 10%;
    margin-top: 1rem;
    position: absolute;
}

.title p {
    position: absolute;
    bottom: 2%;
    left: 10%;
}

.title>h1 {
    padding: 0; 
}

@media only screen and (min-width: 600px) 
{
    .title h1
    {
        bottom:8%;                          
        left: 40%;
    }    

    .title p {
        bottom: 3%;
        left: 40%;
    }
}
