.title {
    position:absolute;                  
    /* bottom:25%; */

}

.title>h1 {
    padding: 0; 
}

@media only screen and (min-width: 700px) 
{
    .title 
    {
        bottom:7%;                          
        left: 40%;
    }    
}
