*, *::before, *::after 
{
    font-family: var(--font-tetrary);
    margin:0;
    padding:0;
    box-sizing: border-box;
}

*:not(aside, .aside, button, .aboutme p, article p )
{
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
}
p:not(footer p)
{
    color: var(--font-color-primary);
    line-height: 1.6;
    padding-top:1rem;
    text-align: justify;
    text-justify: inter-word; 
}

@media screen and (min-width: 800px) 
{
        aside 
    {
        width:30%
    }

}
