

* {
    color: var(--font-color-primary);
    font-family: var(--font-primary);
    margin:0;
}

h1, h2, h3 {
    font-family: var(--font-tetrary);
}

p {
    line-height: 1.6;
    padding-top:1rem;
    text-align: justify;
    text-justify: inter-word;    
}
