

*, *::before, *::after 
{
    color: var(--font-color-primary);
    font-family: var(--font-primary);
    margin:0;
    padding:0;
}

*:not(aside),
*:not(.aside),
*:not(button)
{
    text-align: center;
}

p 
{
    line-height: 1.6;
    padding-top:1rem;
    text-align: justify;
    text-justify: inter-word;    
}

@media screen and (min-width: 800px) 
{
        aside 
    {
        width:30%
    }

}
