ul {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

ul li ul {
    display: none;
    list-style-type: none;
    position: absolute;
    margin-top: 1rem;
    opacity: 0;
    padding-top: 1rem;
    position: absolute;
    right: 0.1px;
    transition: var(--transition);
    visibility: hidden;
}

ul li:active > ul,
ul li ul:active,
ul li:hover > ul,
ul li ul:hover {
    display:inline;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    }

ul li ul li {
    clear: both;
    width: 150%;
    }

@media screen and (min-width:600px) 
    { 
    ul {
        margin-top:1rem;
        margin:2rem;
    }
}