:root {
    --background-primary:#ddd;

    --background-secondary:#f1f1f1;

    --font-color-primary: #424B54;

    --font-color-link: #C5BAAF;

    --font-color-secondary: #D5ACA9;

    --font-primary: 'Montserrat', sans-serif;

    --font-secondary: 'Quicksand', sans-serif;

    --font-tetrary: 'Raleway', sans-serif;

    --gradient-primary: linear-gradient(to right, var(--font-color-link), var(--background-primary));

    --transition: all 0.5s ease;
}



